<div id="cabecalho">
    <form method="post" active="busca.php">
      <div class="search-box">
      <input class="busca" placeholder="Buscar" type="text">
      <button class="search-button"><i class="fas fa-search"></i></button>
      </div>
    </form>
   <div id="navbar">
    <a class="navLink">Home</a>
    <a class="navLink">Tematicas</a>
    <a class="navLink">Salgados</a>
    <a class="navLink">Doces</a>
    <a class="navLink">Drinks</a>
    <button class="navButton">Login</button>
  </div>
</div>